@page
@model PrivacyModel
@{
	ViewData["Title"] = "Random String:)";
}
<h1>@ViewData["Title"]</h1>

<body>	
		<lable>Длина строки</lable>
		<input type="text" id="textbox" name="textbox"><br>
		
		<div class="checkboxes">
			<input type="checkbox" id="digit" name="checkbox" nochecked>
			<lable>Numeric digits</lable><br>

			<input type="checkbox" id="upperCase" name="checkbox" nochecked>
			<lable>Upper Case</lable><br>

			<input type="checkbox" id="lowerCase" name="checkbox"  nochecked>
			<lable>Lower Case</lable><br>
		</div>


		<input type="submit" id="ShowResult" value="ShowResult"><hr>


	<div>
		<lable>Result</lable>
		<input type="text" id="resulTextbox" name="resulTextbox"><br>
	</div>

	<script src="~/js/script.js"></script>	
</body>